<a href="/">Go home</a>
<br>
<h2>@ViewBag.Trail.Name</h2>

<br>

<h3>Description</h3>
<h5>@ViewBag.Trail.Description</h5>

<br>
<br>

<h3>Trail Length</h3>
<h5>@ViewBag.Trail.Length</h5>

<br>

<h3>Elevation Change</h3>
 <h5>@ViewBag.Trail.Elevation</h5>


 <h4>Longitude - @ViewBag.Trail.Longitude</h4>
 <h4>Latitude - @ViewBag.Trail.Latitude</h4>
